version: "3.9"

services:
  agenda:
    image: ghcr.io/misw-4301-desarrollo-apps-en-la-nube/agenda-service-p2:0.1.0
    container_name: agenda
    ports:
      - "3020:3020"
    networks:
      - ecommerce-network

  orders:
    image: ghcr.io/misw-4301-desarrollo-apps-en-la-nube/orders-service-p2:0.1.0
    container_name: orders
    ports:
      - "3030:3020"
    networks:
      - ecommerce-network

  payments:
    image: ghcr.io/misw-4301-desarrollo-apps-en-la-nube/payments-service-p2:0.1.0
    container_name: payments
    ports:
      - "3040:3020"
    networks:
      - ecommerce-network

  sellers:
    image: ghcr.io/misw-4301-desarrollo-apps-en-la-nube/sellers-service-p2:0.1.0
    container_name: sellers
    ports:
      - "3050:3020"
    networks:
      - ecommerce-network

  monolith:
    image: us-central1-docker.pkg.dev/miso-339504/cloud-project/app-image:1.0
    container_name: monolith
    ports:
      - "3060:3000"
    networks:
      - ecommerce-network

  pedidos:
    build: ./pedidos
    container_name: pedidos
    ports:
      - "3000:3020"
    networks:
      - ecommerce-network
    environment:
      AGENDA_PATH: http://agenda:3020
      ORDERS_PATH: http://orders:3020
      PAYMENTS_PATH: http://payments:3020
      SELLERS_PATH: http://sellers:3020
      MONOLITH_PATH: http://monolith:3000

networks:
  ecommerce-network: